
$mainText: #444558;
$background: #ffffff;

$highlight1: #2E9CCA;
$highlight2: #29648A; 
$headlineText : #25274D;

$gnbBackgroundDark: #25274D;
$gnbBackgroundLight: #464866;
$gnbText: #CCCDD8;
$gnbProfileText: #fff;

$gray1: #CCCDD8;
$gray2: #AAABB8;
$scrollbar: #888998;
$scrollbarHover: #AAABB8;
$backgroundMask: rgba(0, 0, 0, 0.5);