
.post-preview {
  max-width:1250px;
  h3 {
    margin:10px 0;
  }
  .post-content {
    font-size: 1.08rem;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .post-date {
    min-width:130px;
  }
  margin-bottom: 2rem;
}


.post-content {

  overflow-wrap: break-word;
  word-wrap: break-word;
  p {
    margin:20px 0;
  }
  img {
    display:block;
    width:100%;
    height:auto;
  }
  ul {
    margin-left:20px;
  }
}


