
.post-preview {
  max-width:1250px;
  h3 {
    margin:10px 0;
  }
  .post-content {
    font-size: 1.08rem;
    line-height: 1.8;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
  }
  .post-date {
    min-width:130px;
  }
  margin-bottom: 2rem;
}
