body {  
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#sidebar {
  // flex: 0 0 auto;
  position: fixed;
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  width: $sidebar-width;
  top: 0;
  left: 0;
  bottom: 0;  
  padding: 0;
  color: $sidebar-text-color;  
  background-attachment: fixed;  
  background-color: $sidebar-bg-color;
  background-image: linear-gradient(to bottom, lighten($sidebar-bg-color, 7%), darken($sidebar-bg-color, 7%));  
  
  .site-title {
    color: $sidebar-title-color;
    color: #fff;    
    text-align: right;
    position: absolute;
    bottom: 10rem;    
  }

  .site-title a {
    color: $sidebar-link-color;
    margin-right: 0.5rem;
  }

  .site-title a:hover {
    color: $sidebar-link-color;
    text-decoration: none;
  }
  .menu {    
    color: $sidebar-text-color;    
    position: absolute;
    bottom: 5rem;
    text-align: right;
    right:0;
    margin-right: 1rem;
  }

  .menu a {
    color: $sidebar-text-color;
  }
  .menu a:hover {
    color: $sidebar-link-color;
    text-decoration: none;
  }

}

.content {
  background: $body-bg;
  color: $body-color;
  padding: $section-spacing;
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  margin-left: $sidebar-width;
  max-width: 1400px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  > .content {
    flex-grow: 1;
    padding-bottom: $section-spacing * 2;
  }
}
@media (max-width: 1400px) {
  .container {
    width: calc(100% - 260px);
  }
}

.main-post-list { 
  .infinite-scroll-post {    
    padding: $section-spacing;
    background-color: $body-bg;
    margin-bottom: $section-spacing;
    border-bottom: 1px solid $border-color;

    a {
      color : $gray-5
    }
    .post-title-wrap {
      display:flex;    
  
      .title {
        flex: 1;
        margin: 0;
        a {
          color : $gray-6
        }
      }
      .date {
        width:200px;      
        font-size: 0.7em;
        display: flex;
        padding: 10px;
        text-align: right;      
        flex-direction: column-reverse;
        color: $gray-4;      
      }
    }
  }  
}



.post-title {
  margin-bottom: $section-spacing;  
  font-size:1.8em;
}

.post-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;  
  .post-date {
    color:$gray-4;
    font-size: 0.8em;
    
  }
  .post-categories {

  }
}

.post-body {
  min-height:30em;
}

.related {  
  .posts-list {
    border-top:1px solid $gray-3;
    li {

    }
  }
}