---
layout: default

---
{{content}}
<div id="main" role="main" class="main-post-list content">
  
</div>

<script>
let num = 1;
let url = `${location.origin}/api`
let checkProc = true

window.onscroll = (ev) => {
  if (window.innerHeight + Math.ceil(window.pageYOffset) >= document.body.offsetHeight) {
    getPost();
  }
};

const getPost = async () => {
  if (checkProc === false) return false;
  checkProc = false;
  if (num > 1) {
    url = `${location.origin}/api/feed-${num}.json`
  }
  else {
    url = `${location.origin}/api/index.json`
  }
  const response = await fetch(url);
  if (response.ok) {
    const result = await response.json();
    addPostHtml(result.pages) 
    num++;
    return (checkProc = true);
  }
};

const addPostHtml = (postJson) => {  
  const postList = document.querySelector(`.main-post-list`);    
  postJson.map((post)=> {    
    const link = `${location.origin}${post.link}`    
    const html = `
    <div class="infinite-scroll-post">
      <div class="post-title-wrap">        
        <h3 class="title">
          <a href="${link}">${post.title}</a>
        </h3>
        <div class="date">
          ${post.date}
        </div>
      </div>
      <div>
        <a href="${link}">${post.content}</a>
      </div>
    </div>`    
    postList.insertAdjacentHTML( 'beforeend', html );
  })    
}

getPost()
</script>
